body {
    margin: 0;
    box-sizing: content-box;
}


#img_arriba {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}


#titulo_ppal {
    color: black;
    background-color: black;
    border: 3px solid black;
    position: absolute;
    margin: 10px 5px 20px 20px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-decoration: none;
    color: rgb(255 255 255);
    border-radius: 5px;
    padding: 5px;
}


#titulo_dos {
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    text-decoration: none;
    display: block;
}


.logo_img {
    width: 100px;
    height: 85px;
    float: right;
    margin: 0;
    object-fit:contain;
}


.secction {
    align-items: space-between;
    display: flex;
    justify-content: baseline;
    flex-direction: baseline;
    margin: 0px;
}


.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 180px;
}

.navegacion_a:hover {
    color: red ;
    
} 
.navegacion_b:hover {
    color: red ;
    
}

.navegacion_c:hover {
    color: red ;
} 

.navegacion_a {
    display: flex;
    justify-content: column;
    padding: 30px;
    align-content: flex-start;
}
.navegacion_b {
    display: flex;
    justify-content: column;
    padding: 30px;
    align-content: flex-start;
}
.navegacion_c {
    display: flex;
    justify-content: column;
    padding: 30px;
    align-content: flex-start;
}


.subtitulo_a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
      
    width: 800px;
}


.secction {

    display: flex;
    padding: 20px;
    margin: 10px;
    line-height: 2.5em;
    flex-direction: row;
    line-height: 20px;
    margin: 0px;
}



.section_title {
    text-align: center;
    line-height: 1px;
    align-items: flex-start;
    

}

.secction_a {
padding: 20px 10px; 
}

.subtit_le {
    text-align: left
}

td {
    text-align: center
}



