* {
    margin: 0;
}


#img_arriba {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    bottom: 10px;


}

.header {
    background-color: rgb(0, 0, 0);
    margin: 0;
    position: relative;
    top: 10px;

}
#titulo_ppal {
background-color: black;
color: white;
text-align: center;
margin: 0;
height: 50px;
}

.inline_a {
    background-color: green;
    height: 100vh;
    
}


#titulo_dos {
    
    border: 5px rgb(20, 102, 0) solid; 
    background-color: rgb(20, 102,0);
    color: rgb(255, 255, 255);
    position: relative;
    top: 10px;
    text-align: center;

}

.navegacion_a  {
    padding: 10px;
    position: relative;
    margin: 10px;
    top: 10px;
    display: block;
background-color: rgb(255, 238, 0);
text-align: center;
color: green;
height: 20px;
font-size: 15px;
font: bold;
text-decoration: none;
border: 3px solid green;
border-radius: 35px;

}

.subtitulo_a {
    padding: 20px;
    position: relative;
    top: 25px;
    left: 10px;
    right: 15px;
    height: 100px;
    color: rgb(255, 230, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}