body {
    margin: 0;

}

#img_arriba {
    width: 100vw;
    height: 300px;
    object-fit: cover;

}

#titulo_ppal {
    color: black;
    border: 10px;
    position: absolute;
    margin: 10px 5px 20px 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-decoration: none;
    color: rgb(0, 0, 0);


}

#titulo_dos {
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    text-decoration: none;
    display: block;

}


.logo_img {
    width: 100px;
    height: 85px;
    float: right;
    margin: 0;
    object-fit: cover;



}

.inline_a {
  
    box-sizing: border-box;
     position: relative;
    display: block;
    height: 500px;
   
}



.navegacion_a{

    padding: 0px;
    position: relative;
    left: 85px;
    top: 80px;
     

}

.navegacion_b {

    padding: 0px;
    position: relative;
    left: 20px;
    top: 150px;
    
}
.navegacion_c {

    padding: 0px;
    position: relative;
    right: 55px;
    top: 220px;
    
}
.subtitulo_a {
display: inline;
position: relative;
left: 250px;
}


